
.search-box .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}

.search-box .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}

.search-box .button {
    -fx-background-color: null;
    -fx-background-image: url("search-clear.png");
}

.search-box .button:hover {
    -fx-background-image: url("search-clear-over.png");
}
