@font-face {
    src : url("spaceboy.ttf");
}

.label {
    -fx-text-fill  : rgb(51, 210, 206);
    -fx-font-family: "Spaceboy";
    -fx-font-size  : 1.5em;
    -fx-alignment  : center;
}

.button {
    -fx-alignment          : center;
    -fx-font-family        : "Spaceboy";
    -fx-font-size          : 1em;
    -fx-text-fill          : rgb(51, 210, 206);
    -fx-background-color   : transparent;
    -fx-faint-focus-color  : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
    -fx-highlight-fill     : transparent;
    -fx-padding            : 0 0 0.5em 0;
    -fx-border-color       : rgb(51, 210, 206);
    -fx-border-width       : 0.08333333em;
    -fx-border-radius      : 1em;
}