#bg {
    -fx-background-color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

.title, .subtitle {
    -fx-font-family: "Times New Roman";
}

.title {
    -fx-font-size: 128px;
}

.subtitle {
    -fx-font-size: 64px;
}

.withStroke {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.withAnimatedDash {
    -fx-stroke-dash-array: 5 20;
}

.withShadow {
    -fx-effect: dropshadow(gaussian, grey, 10, 0, 0, 15);
}
