#bg {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

.title, .subtitle {
    font-family: "Times New Roman";
}

.title {
    font-size: 128px;
}

.subtitle {
    font-size: 64px;
}

.withStroke {
    /* HTML */
    -webkit-text-stroke: 2px white;
    /* SVG */
    stroke: white;
    stroke-width: 2px;
}

.withShadow {
    text-shadow: 0px 15px 10px grey;
}

.withAnimatedDash {
    stroke-dasharray: 5 20;
    animation: dash 2s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 25;
  }
}

#switch {
    overflow: hidden;
}