
html {
    background-image: url('../../backgrounds/bg1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}

.modal-content {
    background: url("../dark/dark-bg.jpg") repeat;
    color: white;
}

body, h2 {
    color: white;
}

/* Panels (and accordions) */

.panel {
    border-color: black;
    background-color: transparent;
}

.panel-title {
    color: white;
    background-color: transparent;
}

.panel-heading, .panel-default > .panel-heading {
    border-bottom: 1px solid #4c453b;
    background: -webkit-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%);
    background: -moz-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%);
    background: -ms-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%);
    background: -o-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%);
    background: linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%);
    box-shadow: none;
}

.panel-body, .panel-default > .panel-body {
    border-top: 1px solid rgba(187, 170, 154, 0.5);
    background: rgba(114, 103, 99, 0.5);
}

.panel-footer, .panel-default > .panel-footer {
    background: rgba(114, 103, 99, 0.5);
    padding: 10px;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid rgba(187, 170, 154, 0.5);
}


/* Grids */

table {
    border: none;
}

thead {
    margin: 0;
}

thead tr {
    background: -webkit-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%), #eaeaea;
    background: -moz-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%), #eaeaea;
    background: -ms-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%), #eaeaea;
    background: -o-linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%), #eaeaea;
    background: linear-gradient(top, rgba(193, 192, 188, 1.0) 0px, rgba(193, 192, 188, 1.0) 1px, rgba(163, 151, 131, 0.7) 2px, rgba(114, 103, 99, 0.7) 100%), #eaeaea;
}

thead td {
    border-color: #705335;
    border-bottom: 1px solid #4c453b;
    color: white;
    text-shadow: 0px 2px 3px #555;
}


tbody tr {
    background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.5) 0%, rgba(44, 44, 44, 0.5) 100%);
    background-image: -moz-linear-gradient(top, rgba(68, 68, 68, 0.5) 0%, rgba(44, 44, 44, 0.5) 100%);
    background-image: -ms-linear-gradient(top, rgba(68, 68, 68, 0.5) 0%, rgba(44, 44, 44, 0.5) 100%);
    background-image: -o-linear-gradient(top, rgba(68, 68, 68, 0.5) 0%, rgba(44, 44, 44, 0.5) 100%);
    background-image: linear-gradient(top, rgba(68, 68, 68, 0.5) 0%, rgba(44, 44, 44, 0.5) 100%);
    border-top-color: #7f8384;
    border-bottom-width: 0;
}

td {
    border: none;
}

td:not(:last-child) {
    border-right: 1px solid #d4d4d4;
}

.ngRow.selected, .panel.selected .panel-heading {
     background: -webkit-linear-gradient(top, #0089eb 0%, #0365aa 100%);
     background: -moz-linear-gradient(top, #0089eb 0%, #0365aa 100%);
     background: -ms-linear-gradient(top, #0089eb 0%, #0365aa 100%);
     background: -o-linear-gradient(top, #0089eb 0%, #0365aa 100%);
     background: linear-gradient(top, #0089eb 0%, #0365aa 100%);
}

/* Forms */

legend {
    color: #ddd;
}

.well {
    background: rgba(255, 255, 255, 0.1);
    border-color: black;
    border-left-color: #6b6b69;
    border-right-color: #6b6b69;
}

input.form-control:-webkit-autofill {
    box-shadow: 0 0 0px 1000px rgb(101, 85, 86) inset;
    -webkit-text-fill-color: white !important;
}

.form-control, .form-control[disabled], .form-control[readOnly], .input-group-addon, .chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single {
    background: -webkit-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: -moz-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: -ms-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: -o-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    border-color: black;
    border-bottom-color: #a29390;
    border-radius: 5px;
    color: white;
    box-shadow: none;
}

/* Form validation (angular css in addition to bootstrap css) */

input.form-control.ng-dirty.ng-invalid {
    background: url('../../invalid.png') right 10px center no-repeat, -webkit-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../invalid.png') right 10px center no-repeat, -moz-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../invalid.png') right 10px center no-repeat, -o-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../invalid.png') right 10px center no-repeat, -ms-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../invalid.png') right 10px center no-repeat, linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
}

input[required].form-control.ng-valid, input.form-control.ng-dirty.ng-valid {
    background: url('../../valid.png') right 10px center no-repeat, -webkit-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../valid.png') right 10px center no-repeat, -moz-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../valid.png') right 10px center no-repeat, -ms-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../valid.png') right 10px center no-repeat, -o-linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
    background: url('../../valid.png') right 10px center no-repeat, linear-gradient(top, #181818 0px, rgba(101, 85, 86, 0.5) 4px); /* dark translucid background */
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: orange; /* more visible than red */
}

/* Buttons */

.shadow, .panel, .well, .alert {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.btn-container {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-image: -webkit-linear-gradient(top, rgba(194, 194, 194, 0.1) 0%, rgba(177, 177, 177, 0.2) 1px, rgba(240, 240, 240, 0.1) 100%);
    background-image: -moz-linear-gradient(top, rgba(194, 194, 194, 0.1) 0%, rgba(177, 177, 177, 0.2) 1px, rgba(240, 240, 240, 0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(194, 194, 194, 0.1) 0%, rgba(177, 177, 177, 0.2) 1px, rgba(240, 240, 240, 0.1) 100%);
    background-image: -o-linear-gradient(top, rgba(194, 194, 194, 0.1) 0%, rgba(177, 177, 177, 0.2) 1px, rgba(240, 240, 240, 0.1) 100%);
    background-image: linear-gradient(top, rgba(194, 194, 194, 0.1) 0%, rgba(177, 177, 177, 0.2) 1px, rgba(240, 240, 240, 0.1) 100%);
}

.btn-default, .btn-default:active, .btn-default.active {
    border-color: black;
    background-image: -webkit-linear-gradient(bottom, #575757 0, #333333 1px, #171717 100%);
    background-image: -moz-linear-gradient(bottom, #575757 0, #333333 1px, #171717 100%);
    background-image: -ms-linear-gradient(bottom, #575757 0, #333333 1px, #171717 100%);
    background-image: -o-linear-gradient(bottom, #575757 0, #333333 1px, #171717 100%);
    background-image: linear-gradient(bottom, #575757 0, #333333 1px, #171717 100%);
    color: white;
}

.btn-default:hover {
    border-color: #333;
    color: white;
}

.btn-primary, .panel.primary .panel-heading, .ngCell .primary {
    background-image: -webkit-linear-gradient(top, #0089eb 0%, #0365aa 100%);
    background-image: -moz-linear-gradient(top, #0089eb 0%, #0365aa 100%);
    background-image: -ms-linear-gradient(top, #0089eb 0%, #0365aa 100%);
    background-image: -o-linear-gradient(top, #0089eb 0%, #0365aa 100%);
    background-image: linear-gradient(top, #0089eb 0%, #0365aa 100%);
    color: white;
}

.btn-primary:active, .btn-primary.active {
    background-image: -webkit-linear-gradient(bottom, #0089eb 0%, #0365aa 100%);
    background-image: -moz-linear-gradient(bottom, #0089eb 0%, #0365aa 100%);
    background-image: -ms-linear-gradient(bottom, #0089eb 0%, #0365aa 100%);
    background-image: -o-linear-gradient(bottom, #0089eb 0%, #0365aa 100%);
    background-image: linear-gradient(bottom, #0089eb 0%, #0365aa 100%);
    color: white;
}

.btn-success, .panel.success .panel-heading, .ngCell .success {
    border-color: #2a8236;
    background-image: -webkit-linear-gradient(top, #7fd504 0%, #2a8236 100%);
    background-image: -moz-linear-gradient(top, #7fd504 0%, #2a8236 100%);
    background-image: -ms-linear-gradient(top, #7fd504 0%, #2a8236 100%);
    background-image: -o-linear-gradient(top, #7fd504 0%, #2a8236 100%);
    background-image: linear-gradient(top, #7fd504 0%, #2a8236 100%);
    color: white;
}

.btn-success:active {
    border-color: #2a8236;
    background-image: -webkit-linear-gradient(bottom, #7fd504 0%, #2a8236 100%);
    background-image: -moz-linear-gradient(bottom, #7fd504 0%, #2a8236 100%);
    background-image: -ms-linear-gradient(bottom, #7fd504 0%, #2a8236 100%);
    background-image: -o-linear-gradient(bottom, #7fd504 0%, #2a8236 100%);
    background-image: linear-gradient(bottom, #7fd504 0%, #2a8236 100%);
    color: white;
}

.btn-warning, .panel.warning .panel-heading, .ngCell .warning {
    border-color: #ffda7f;
    background-image: -webkit-linear-gradient(top, #ffda7f 0%, #e5ae39 100%);
    background-image: -moz-linear-gradient(top, #ffda7f 0%, #e5ae39 100%);
    background-image: -ms-linear-gradient(top, #ffda7f 0%, #e5ae39 100%);
    background-image: -o-linear-gradient(top, #ffda7f 0%, #e5ae39 100%);
    background-image: linear-gradient(top, #ffda7f 0%, #e5ae39 100%);
    color: white;
}

.btn-danger, .panel.danger .panel-heading, .ngCell .danger {
    border-color: #853416;
    background-image: -webkit-linear-gradient(top, #e92c04 0%, #853416 100%);
    background-image: -moz-linear-gradient(top, #e92c04 0%, #853416 100%);
    background-image: -ms-linear-gradient(top, #e92c04 0%, #853416 100%);
    background-image: -o-linear-gradient(top, #e92c04 0%, #853416 100%);
    background-image: linear-gradient(top, #e92c04 0%, #853416 100%);
    color: white;
}

.btn-danger:active {
    border-color: #853416;
    background-image: -webkit-linear-gradient(bottom, #e92c04 0%, #853416 100%);
    background-image: -moz-linear-gradient(bottom, #e92c04 0%, #853416 100%);
    background-image: -ms-linear-gradient(bottom, #e92c04 0%, #853416 100%);
    background-image: -o-linear-gradient(bottom, #e92c04 0%, #853416 100%);
    background-image: linear-gradient(bottom, #e92c04 0%, #853416 100%);
    color: white;
}
/*
#booking_schedule_container canvas {
    background: white;
}
*/

/* Chosen */

.chosen-search {
    color: white; /* white is ok for this theme */
}

.chosen-container .chosen-drop {
    border-top: 1px solid #a29390;
    background: rgb(101, 85, 86);
}

/* @group Results */
.chosen-container .chosen-results {
    color: white;
}

.chosen-container .chosen-results li.no-results {
    background: rgb(101, 85, 86);
    color: white;
}
