        /**************************
         ***  Style adjustments ***
         **************************/

         input[type="text"], input[type="password"] {
            line-height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
         }

         button:focus {
            outline: 0;
         }

        .section-panel {
            overflow: hidden;
        }

        /***** Declaring some variables used in several selectors *****/
        :root {
            --grid-border-color: lightgray;
            --grid-row-height: 36px;
        }

        body, input, textarea, keygen, select, button {
            font-family: 'Roboto', 'Noto', sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.87);
        }

        button:disabled span {
            color: gray;
        }

        table, th, td {
            border: 1px solid var(--grid-border-color);
        }

        table {
            border-collapse: collapse;
            cursor: pointer;
        }

        thead {
            border-top-style: solid;
            border-top-color: var(--grid-border-color);
            border-top-width: thin;
            height: var(--grid-row-height);
        }

        thead td {
            border-right-width: thin;
            border-right-style: solid;
            border-right-color: var(--grid-border-color);
            height: var(--grid-row-height);
            font-weight: bold;
            text-align: center;
        }

        tbody td {
            border-bottom-color: var(--grid-border-color);
        }

        tbody tr {
            height: var(--grid-row-height);
        }

        thead td, tbody td {
            padding: 0 5px 0 5px;
            overflow: hidden;
            max-width: 0;
        }

        /***********************************
         *** Table header and row colors ***
         ***********************************/

        /*** Table header gray gradient ***/

        thead tr {
            background: linear-gradient( 180deg, white, lightgray 100%);
        }

        th {
            background: transparent;
        }
